#anvil-signatureModal {
  width: 80vw;
  height: 85vh;
  max-width: 1200px;
  border-style: none;
}

.anvil-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: #fbfbfb;
  border: none;
  outline: none;
}

.anvil-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.anvil-deleteIcon {
  position: fixed;
  top: 10px;
  right: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
}
.anvil-deleteIcon :hover {
  cursor: pointer;
  opacity: 0.75;
}

.anvil-docs {
  margin: 10px 10px 10px 10px;
  font-size: 14px;
  color: #bbb;
}
